{% load static %}
{% load i18n %}

<!doctype html>
<html lang="en" class="no-js"><!--------Theme Shered by Codingyar.com--------->

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicons -->
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'img/icon.png' %}">

    <!-- ************************* CSS Files ************************* -->

    <link rel="stylesheet" href="{% static 'css/_base.css' %}">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="{% static 'css/vendor.css' %}">

    <!-- style css -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">


    <title>{% block page_title %}{% endblock %}</title>
    {#    <!-- Required meta tags -->#}
    {#    <meta charset="utf-8">#}
    {#    <meta name="viewport" content="width=device-width, initial-scale=1">#}
    {##}
    {#    <!-- Bootstrap CSS -->#}
    {#    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"#}
    {#          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">#}


</head>
<body dir="rtl">
<!-- Main Wrapper Start -->
<div class="wrapper">
    <!-- Header Start -->
    <header class="header">
        <div class="header-inner fixed-header">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-9 col-lg-8 col-5 col-xs-0 col-none col-sm-block p-0">
                        <nav class="main-navigation">
                            <div class="site-branding">
                                <a href="{% url 'pages:home' %}" class="logo">
                                    <figure class="logo--normal d-none d-sm-block">
                                        <img class="px-5" src="{% static 'img/ketab_logo.png' %}"
                                             style="max-height: 150px; margin-bottom: -15px;" alt="Logo">
                                    </figure>
                                </a>
                            </div>
                            <div class="mainmenu-nav d-none d-lg-block w-100 pr-3">
                                <ul class="mainmenu d-lg-flex jusity-content-end jusity-content-lg-start pt-4">
                                    <li class="mainmenu__item menu-item-has-children active">
                                        <a href="{% url 'book_store:book_list' %}" class="mainmenu__link">
                                            <span class="mm-text">{% trans 'book store' %}</span>
                                        </a>
                                    </li>
                                    <li class="mainmenu__item menu-item-has-children">
                                        <a href="Blog.html" class="mainmenu__link">
                                            <span class="mm-text">وبلاگ</span>
                                        </a>
                                    </li>
                                    <li class="mainmenu__item menu-item-has-children">
                                        <a href="#" class="mainmenu__link">
                                            <span class="mm-text">صفحات</span>
                                        </a>
                                    </li>
                                    <li class="mainmenu__item">
                                        <a href="contact-us.html" class="mainmenu__link">
                                            <span class="mm-text">{% trans 'contact us' %}</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-7 col-12 p-0">
                        <ul class="header-toolbar">
                            <li class="header-toolbar__item">
                                <a href="wishlist.html" class="header-toolbar__btn mx-4">
                                    <i class="flaticon flaticon-like"></i>
                                </a>
                            </li>
                            <li class="header-toolbar__item mini-cart-item">
                                <a href="#miniCart" class="header-toolbar__btn toolbar-btn mini-cart-btn">
                                    <i class="flaticon flaticon-shopping-cart"></i>
                                    <sup class="mini-cart-count">2</sup>
                                </a>
                            </li>
                            <li class="header-toolbar__item user-info">
                                <a href="my-account.html" class="header-toolbar__btn">
                                    <i class="flaticon flaticon-user"></i>
                                </a>
                                <ul class="user-info-menu">
                                    <li>
                                        <a class="text-right" href="my-account.html">حساب کاربری</a>
                                    </li>
                                    <li>
                                        <a class="text-right" href="cart.html">سبد خرید</a>
                                    </li>
                                    <li>
                                        <a class="text-right" href="wishlist.html">علاقه مندی ها</a>
                                    </li>
                                    <li>
                                        <a class="text-right" href="order-tracking.html">تاریخچه سفارشات</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="header-toolbar__item">
                                <a href="#searchForm" class="header-toolbar__btn toolbar-btn">
                                    <i class="flaticon flaticon-search"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="mobile-menu"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->

    <div class="container mt-4">
        <div class="row">
            <div class="col-10">


                {% block content %}

                {% endblock %}

            </div>
            <div class="col-2">

                <div class="card my-4">
                    <h5 class="card-header">About</h5>
                    <div class="card-body">
<p>
    فیتزجرالد سال ۱۹۳۷ پس از بستن قراردادی با کمپانی رسانه‌ای «ام‌جی‌ام» به لس‌آنجلس مهاجرت می‌کند. وقتی فیتزجرالد داستان کوتاه «دمای هوا» را در سال ۱۹۳۸ نوشت در مجله «اسکوایر» فیلم‌نامه و داستان‌کوتاه می‌نوشت و روی رمان تمام‌نشده‌اش به نام «عشق آخرین تایکون» کار می‌کرد.

اسکات فیتزجرالد ۲۱ دسامبر ۱۹۴۰، زمانی که تنها ۴۴ سال سن داشت، درگذشت.
جملاتی از کتاب گتسبی بزرگ

یک شب پاییزی -پنج سال پیش- وقتی برگ‌های پاییزی داشتند می‌ریختند، آن‌ها در خیابان قدم می‌زدند و بعد به جایی رسیدند که هیچ درختی نبود و پیاده‌رو از نور ماه سفید شده بود. آن‌ها، رو در روی هم ایستادند. شب سردی بود با هیجانی اسرارآمیز که فقط دو بار در سال هنگام تغییر آب و هوا رخ می‌دهد. نور چراغ خانه‌ها در سکوت به تاریکی بیرون هجوم می‌آورد و در بین ستارگان غوغایی بود. گتسبی از گوشه‌ی چشم‌اش می‌دید که بلوک‌های دیوار پیاده‌رو مثل نردبان هستند. از آن‌ها بالا رفت و جایی مخفی را در بالای درخت‌ها دید، اگر تنها بود می‌توانست بالاتر برود و اگر بالا می‌رفت، می‌توانست بر بام جهان بایستد و طعم شیرین پیروزی را بچشد.

قلب‌اش تند و تندتر می‌زد. صورت سفید دِیزی در مقابل صورت‌اش قرار گرفت. می‌دانست اگر این دختر را ببوسد و خیالات نگفتنی‌اش را برای همیشه به عقد نَفَس فانی او درآورد، افکارش دیگر هیچ‌گاه مانند فکر خدا مغشوش نخواهد بود. پس منتظر ماند و برای چند لحظه‌ی دیگر به نوای دیاپازونی که به ستاره‌ای دیگر نواخته می‌شد، گوش سپرد. بعد، او را بوسید. وقتی لب‌هایش را بر لبان دِیزی گذاشت، لب‌های او برایش مثل گل شکفت و روح در جسم او کاملاً دمیده شد.

برای مطالعه‌ی جمله‌های بیشتری از کتاب گتسبی بزرگ، بخش نمونه کتاب را رایگان دانلود کنید.
    فرانسیس اسکات کی فیتزجرالد یا همان اف اسکات فیتزجرالد که همه او را با لقب «رویاپرداز بزرگ آمریکایی» نیز می‌شناسند، متولد ۲۴ سپتامبر ۱۸۹۶ در سنت‌پاول، مینه‌سوتا است. این نویسنده آمریکایی عمر کوتاهی داشت و در ۲۱ دسامبر ۱۹۴۰ در سن ۴۴ سالگی، در لس‌آنجلسِ کالیفرنیا درگذشت.

اسکات فیتزجرالد یکی از بزرگترین نویسندگان سده بیستم آمریکاست و عصر جاز این کشور را در آثار خود به تصویر کشیده است. رمان‌های این نویسنده نمایانگر فضای اجتماعی آمریکا در دوران زندگی او هستند و در گروه کتاب‌های ادبیات کلاسیک قرار دارند.

فیتزجرالد از آن دسته نویسندگانی است که در زمان زندگی خود شناخته نشدند و پس از مرگ بود که مورد توجه منتقدان قرار گرفتند. رمان‌ها، داستان‌های کوتاه و فیلمنامه‌های این نویسنده هنوز هم طرفداران زیادی دارند و دوستداران ادبیات را تحت تاثیر عمیقی قرار می‌دهند.

شخصیت‌های پیچیده و پر رمز و رازی که اسکات فیتزجرالد در آثار خود خلق کرده، نشان از استعداد چشمگیر او در نویسندگی است. اسکات در دوران کودکی متوجه علاقه‌اش به نویسندگی شد و با آثاری که بعدها به جا گذاشت، نام خود را برای همیشه در تاریخ ادبیات جهان ماندگار کرد.

اسکات فیتزجرالد نوشتن را از همان دوران کودکی آغاز کرد و همین موضوع او را به یکی از نویسندگان بزرگ قرن بیستم تبدیل کرد. اسکات و همسرش زلدا زندگی پر سر و صدایی داشتند و همین موضوع آن‌ها را مورد توجه رسانه‌ها قرار داده بود.

فیتزجرالد ارتباط نزدیکی با ارنست همینگوی، نویسنده برجسته آمریکایی داشت و بسیاری از نویسندگان مطرح از جمله جی. دی. سلینجر، نویسنده رمان پرطرفدار ناطور دشت، او را تحسین کرده‌اند. این نویسنده جوان زندگی پر فراز و نشیبی داشت که در ادامه با آن آشنا خواهیم.

اف اسکات فیتزجرالد در یک خانواده کاتولیک ایرلندی تبار چشم به جهان گشود. پدر و مادر فرانسیس اسکات، نام کوچک تنها فرزند خود را از روی اسم یکی از خویشاوندانِ شاعر خود انتخاب کردند و جالب است بدانید که این فرد، نویسنده شعری بود که بعدها به عنوان سرود ملی ایالات متحده انتخاب شد.

خانواده فیتزجرالد، اوضاع مالی خوبی داشتند ولی نمی‌شد آن‌ها را ثروتمند نامید. پدر اسکات که تبار ایرلندی-انگلیسی داشت، صاحب کارخانه‌ای کوچک برای تولید مبلمان حصیری بود. اما این مرد که وارث آرمان‌های جنگ داخلی بود و عقاید برابری و برادری را در سر می‌پروراند، برای تجارت و کسب‌وکار ساخته نشده بود.

دیری نگذشت که کارخانه پدر اسکات ورشکست شد و اعضای خانواده به شهر بوفالو در نیویورک نقل مکان کردند و او برای گذران زندگی مجبور شد به عنوان یک کارمند در کمپانی «پروکتر اند گمبل» مشغول به کار شود.

مادر اسکات در یک خانواده بورژوا بزرگ شده بود و پدرش مهاجری ایرلندی بود که توانست با گسترش خواربارفروشی خود ثروتمند شود. این زن که پیش از اسکات دو فرزند دیگرش را از دست داده بود با مهربانی نیازهای پسر خود را رفع می‌کرد و سعی داشت زندگی آرامی برای او فراهم کند.

اسکات در بوفالو وارد آکادمی نارین شد ولی به خاطر اتفاقی که زندگی فیتزجرالدها را تحت تاثیر قرار داد، دیگر نتوانست به ادامه تحصیل در آن‌جا بپردازد. در سال ۱۹۰۸ پدر اسکات از کمپانی اخراج و برای بار دیگر بیکار شد. در همین سال بود که خانواده فیتزجرالد دوباره به محل تولد اسکات یعنی سنت‌پاول بازگشتند تا با ارثیه‌ای که به مادر خانواده رسیده بود، زندگی جدیدی آغاز کنند.

اف اسکات فیتزجرالد شاهد دو نوع متفاوت از سبک زندگی آمریکایی در خانواده خود بود؛ پدری از یک خانواده اشراف‌زاده ولی شکست‌خورده و ناموفق و مادری روستایی از خانواده‌ای که توانسته بود رویای آمریکایی را به تحقق برساند!

فیتزجرالد جوان برای ادامه تحصیل وارد آکادمی سنت‌پاول شد و در سن ۱۳ سالگی اولین داستان خود را در روزنامه مدرسه منتشر کرد. اولین نمودهای نویسندگی اسکات در این دوران و در قالب داستان‌های کوتاه جنایی آشکار شد و تعریف و تمجید اطرافیان، او را برای ادامه نویسندگی تشویق کرد. یک سال بعد از انتشار این داستان، اسکات یک نمایشنامه‌ نوشت و آن را به چاپ رساند.

اسکات که از کودکی آرزو داشت برای داشتن آینده‌ای بهتر وارد دانشگاه شود، کم‌کم علاقه خود را به درس از دست داد و در ۱۶ سالگی از این آکادمی اخراج شد. پس از این ماجرا خانم و آقای فیتزجرالد، در سال ۱۹۱۱ پسر خود را راهی مدرسه نیومن در نیوجرسی کردند و اسکات تحصیلات خود را در این مدرسه به پایان رساند.

در سال ۱۹۱۳ بود که اسکات تصمیم گرفت رویای کودکی خود را به واقعیت تبدیل کند و وارد دانشگاه شود. اما از آنجایی که این خانواده اوضاع مالی جالبی نداشتند مجبور به گرفتن کمک مالی از خاله اسکات شدند و توانستند با زحمت فراوان فیتزجرالد جوان را به دانشگاه پرینستون بفرستند.

اف اسکات فیتزجرالد که وارد دانشگاه پرینستون شد، فهمید این دانشگاه برای فرزندان افراد ثروتمند است و او به خاطر فاصله طبقاتی که با بقیه داشت زیاد تحویل گرفته نمی‌شد.

این نویسنده جوان در دانشگاه هم عملکرد موفقی نداشت و پس از سه سال تحصیل را رها کرد. او در سال ۱۹۱۷ تصمیم گرفت به ارتش بپیوندد و در جنگ شرکت کند. در آن زمان موفقیت جوانان آمریکا در گرو داشتن پول، مدرک دانشگاهی، مدال ورزشی یا ارتشی بود؛ از همین رو اسکات که پیوستن به ارتش را تنها شانس موفقیت خود می‌دید، به سربازی رفت. او پیش از اعزام به خدمت رمانی با عنوان «خودپرست‌های رمانتیک» را نوشت ولی این اثر نتوانست نظر ناشران را جلب کند و به چاپ نرسید.

در سال ۱۹۱۸ اسکات با دختری به نام زلدا آشنا و با پیش رفتن رابطه به او علاقه‌مند شد. در همین سال بود که جنگ به پایان رسید و تنها راه اسکات برای دست‌یابی به موفقیت و قهرمانی نیز از بین رفت.

پس از اتمام جنگ، فیتزجرالد برای کار وارد یک آژانس تبلیغاتی در نیویورک شد و امیدوار بود روزی بتواند زندگی خود را فقط از طریق نویسندگی تامین کند. در پاییز ۱۹۱۹ اسکات اولین داستان کوتاه خود را با مبلغ ۴۰۰ دلار به یک روزنامه فروخت و این موضوع اشتیاق او را برای نویسندگی بیشتر کرد.

همانطور که پیش از این هم گفته شد، اف اسکات فیتزجرالد زندگی شخصی پر فراز و نشیبی داشت و مخاطبانش نه تنها داستان‌ها و رمان‌ها، بلکه حاشیه‌های زندگی این نویسنده جوان و همسرش را نیز دنبال می‌کردند.

زلدا سایر، دختر ۱۷ ساله زیبایی از یک خانواده ثروتمند و سرشناس بود. از همین رو تا زمانی که اسکات نمی‌توانست نیازهای مالی او را برطرف کند، حاضر به ازدواج با او نشد. در این زمان فیتزجرالد به خانه پدری خود بازگشت و به مصرف الکل روی آورد.

در مدتی که اسکات نزد پدر و مادر خود زندگی می‌کرد، روی رمان «خودپرست‌های رمانتیک» تمرکز کرد و آن را بهبود بخشید. به این ترتیب در سال ۱۹۲۰ این رمان یک بار دیگر با نام «این سوی بهشت» به ناشران معرفی شد و این بار با موفقیت به چاپ رسید. این رمان که بعدها به یکی از مهم‌ترین آثار ادبیات کلاسیک آمریکا تبدیل شد، ثروت و شهرت فراوانی برای نویسنده خود به ارمغان آورد و همین موضوع موجب شد که زلدا درخواست ازدواج او را بپذیرد.

یکی از حواشی زندگی این زوج جوان، خوش‌گذرانی‌ها و تفریحات بیش از حد آنان بود که هزینه‌های زیادی در بر داشت. از همین رو، در بین سال‌های ۱۹۲۲ تا ۱۹۲۳ اسکات مجبور به نوشتن تعداد زیادی داستان کوتاه شد تا بتواند با پول فروش آن‌ها از پس هزینه‌های سرسام‌آور همسر خود برآید.

اسکات و زلدا در سال ۱۹۲۴ به فرانسه مهاجرت و به مدت سه سال در این کشور زندگی کردند. در این زمان بود که فیتزجرالد نوشتن رمان بی‌نظیر گتسبی بزرگ را شروع کرد. زندگی در این کشور و فرهنگ غنی آن، تاثیر به‌سزایی در رشد شخصیتی این نویسنده می‌گذارد و منبع الهام جدیدی برای شخصیت‌پردازی داستان‌هایش می‌شود.

در سال ۱۹۲۷ فیتزجرالد و همسرش به همراه فرزند تازه‌متولد‌شده‌ی خود به آمریکا بازگشتند و این بار که اسکات احساس مسئولیت بیشتری نسبت به خانواده خود احساس می‌کرد، با اشتیاق بیشتری برای رفع نیازهای آن‌ها تلاش ‌کرد.

در این زمان بود که اسکات با فیلمساز مطرح، ایرونیک تالبرگ و پس از آن با هنرپیشه زن جوانی آشنا شد و این دو نفر تبدیل به شخصیت‌های رمان‌های بعدی او شدند.

پس از گذشت مدت کوتاهی زلدا برای برگشت دوباره به فرانسه پافشاری کرد و این خانواده مجددا به این کشور برگشتند. در همین دوران اسکات با چند نفر از مشاهیر فرانسوی از جمله فرناند لژه، پیکاسو و آراگون آشنا شد و این آشنایی تجربه جدید و مهمی برای او بود.

در سال ۱۹۳۰، هنگامی که اسکات بر روی نوشتن آثارش متمرکز بود، همسرش زلدا به بیماری روحی و روانی مبتلا شد. فیتزجرالد همسر خود را برای درمان به سوئیس برد ولی زلدا به دلیل ابتلا به اسکیزوفرنی در بیمارستان روانی بستری شد. این نویسنده جوان که نمی‌توانست همسر خود را تنها بگذارد، به ناچار در یک هتل در نزدیکی بیمارستان اقامت گزید. اسکات در این مدت چند داستان کوتاه به رشته تحریر درآورد که یکی از آن‌ها اثر مشهور «بازگشت به بابل» بود. او در این داستان به نوعی خداحافظی با پاریس را به تصویر می‌کشد.

یک سال بعد و با بهتر شدن حال زلدا، آن‌ها دوباره به آمریکا بازمی‌گردند و اف اسکات فیتزجرالد که در این مدت با سختی‌های مالی و فشارهای روانی زیادی دست ‌و ‌پنجه نرم می‌کرد، چهارمین رمان خود را با نام «لطیف است شب» منتشر کرد. با آن که این رمان در روزهای اول با استقبال زیادی مواجه شد درآمد حاصل از آن برای پرداخت قرض‌های این خانواده کافی نبود.

با وجود این‌که زلدا از بیمارستان مرخص شده بود، در سال ۱۳۹۲ دوباره دچار مشکلات روانی شد. فیتزجرالد هم که نمی‌توانست از پس هزینه‌های بیمارستان همسر و مدرسه دخترش برآید، در سال ۱۹۳۷ مجبور شد برای تامین مخارج زندگی پیشنهاد همکاری یک کمپانی هالیوودی را بپذیرد و نوشتن فیلم‌نامه آن‌ها را بر عهده گیرد.

درگذشت اسکات فیتزجرالد

اف اسکات فیتزجرالد در ۲۱ دسامبر ۱۹۴۰ در سن ۴۴ سالگی و در اثر سکته قلبی چشم از جهان فروبست. او یک سال پیش از مرگش نگارش رمان جدیدی را آغاز کرده بود که هیچوقت نتوانست آن را به پایان برساند.

«ما سوار بر قایق‌هایی بر خلاف جریان آب هستیم و در روندی بی‌پایان، به سوی گذشته پارو می‌زنیم» آخرین جمله اثر «گتسبی بزرگ» است که بر روی سنگ قبر مشترک اسکات و زلدا نگاشته شده است.
معرفی کتاب‌های فیتزجرالد

اسکات فیتزجرالد با انتشار اولین رمان خود به نام «این سوی بهشت» در سال ۱۹۲۰ قدم در مسیر شهرت گذاشت. او تا سال ۱۹۲۳ رمان‌ها و داستان‌های کوتاه مختلفی نوشت که آثاری همچون «خوشبختان و نفرین شدگان»، «الماسی به بزرگی ریتز» و «فرزندان جاز» هم در این بین قرار دارند.

فیتزجرالد که زندگی پر فراز و نشیبی داشت و همواره برای تامین مخارج خود و خانواده‌اش سخت تلاش می‌کرد، دومین رمان خود را در سال ۱۹۲۲ با عنوان «زیبا و ملعون» منتشر کرد. او در این رمان مشکلات و سختی‌های زندگی خود را به تصویر کشیده است.

مشهورترین رمان این نویسنده که «گتسبی بزرگ» نام دارد، در سال ۱۹۲۵ منتشر شد. فیتزجرالد در این رمان آمریکای دهه ۱۹۲۰ را به تصویر کشیده و برای نوشتن آن از خانواده، به ویژه پدربزرگ مادری خود الهام گرفته است. این رمان در آن زمان با استقبال خوبی مواجه نشد؛ از همین رو اسکات تصمیم گرفت داستان کوتاهی با موضوع مشابه «گتسبی بزرگ» نوشته و آن را منتشر کند.

رمان «گتسبی بزرگ» توانست توجه صنعت فیلمسازی را به خود جلب کند و تا کنون چند فیلم با اقتباس از این داستان ساخته شده است.

کتاب «بازگشت به بابیلون» اثر ماندگار دیگری از اسکات فیتزجرالد است که شامل سه داستان کوتاه با نام‌های «بازگشت به بابیلون»، «جام کریستال» و «دهه گمشده» می‌باشد. فیتزجرالد برای نوشتن این کتاب هم که روایت‌گر سقوط تدریجی انسان است، از تجربه‌های شخصی خود استفاده کرد.

آخرین اثر اسکات که موفق به تمام کردن آن نشد، «آخرین قارون» نام داشت که در سال ۱۹۴۱ با تلاش یکی از دوستان نزدیک این نویسنده به نام ادمون ویلسون منتشر شد.

خالی از لطف نیست که بدانید ویکتور فلمینک فیلم‌نامه بی‌نظیر «بر باد رفته» را با همکاری فیتزجرالد به رشته تحریر درآورده است.

از دیگر آثار این نویسنده بزرگ هم می‌توان «سبزیجات»، «داستان‌های نیویورکر»، «مدل موی تازه برنیس»، «رویاهای زمستانی»، «داستان‌های لس‌آنجلس»، «دزد ساحلی» و «ماجرای عجیب بنجامین باتن» را نام برد.
</p>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <!-- Search form Popup Start -->
    <div class="searchform__popup" id="searchForm">
        <a href="#" class="btn-close"><i class="flaticon flaticon-cross"></i></a>
        <div class="searchform__body">
            <p>در باکس زیر عبارت خود را وارد کنید</p>
            <form class="searchform">
                <input type="text" name="popup-search" id="popup-search" class="searchform__input"
                       placeholder="جستجو در بین محصولات...">
                <button type="submit" class="searchform__submit"><i class="flaticon flaticon-magnifying-glass-icon"></i>
                </button>
            </form>
        </div>
    </div>
    <!-- Search form Popup End -->

    <!-- Mini Cart Start -->
    <aside class="mini-cart" id="miniCart">
        <div class="mini-cart-wrapper">
            <a href="" class="btn-close"><i class="flaticon flaticon-cross"></i></a>
            <div class="mini-cart-inner">
                <h3 class="mini-cart__heading mb--40 mb-lg--30 text-right">سبد خرید</h3>
                <div class="mini-cart__content">
                    <ul class="mini-cart__list text-right">
                        <li class="mini-cart__product d-flex justify-content-between">
                            <div class="mini-cart__product__image">
                                <a href="#">
                                    <img src="assets/img/products/prod-1-100x100.jpg" alt="products">
                                </a>
                            </div>
                            <div class="mini-cart__product__content pt-2">
                                    <span class="mini-cart__product__title d-flex flex-row justify-content-between">
                                        <a href="#"> محصول سماره یک </a>
                                        <a href="#" class="">
                                            &#10060;
                                        </a>
                                    </span>
                                <span class="mini-cart__product__quantity">
                                        <span>۴۹,۰۰۰ تومان</span> &#215; <span>۱</span>
                                    </span>
                            </div>
                        </li>
                        <li class="mini-cart__product d-flex justify-content-between">
                            <div class="mini-cart__product__image">
                                <a href="#">
                                    <img src="assets/img/products/prod-1-100x100.jpg" alt="products">
                                </a>
                            </div>
                            <div class="mini-cart__product__content pt-2">
                                    <span class="mini-cart__product__title d-flex flex-row justify-content-between">
                                        <a href="#"> محصول سماره یک </a>
                                        <a href="#" class="">
                                            &#10060;
                                        </a>
                                    </span>
                                <span class="mini-cart__product__quantity">
                                        <span>۴۹,۰۰۰ تومان</span> &#215; <span>۱</span>
                                    </span>
                            </div>
                        </li>
                        <li class="mini-cart__product d-flex justify-content-between">
                            <div class="mini-cart__product__image">
                                <a href="#">
                                    <img src="assets/img/products/prod-1-100x100.jpg" alt="products">
                                </a>
                            </div>
                            <div class="mini-cart__product__content pt-2">
                                    <span class="mini-cart__product__title d-flex flex-row justify-content-between">
                                        <a href="#"> محصول سماره یک </a>
                                        <a href="#" class="">
                                            &#10060;
                                        </a>
                                    </span>
                                <span class="mini-cart__product__quantity">
                                        <span>۴۹,۰۰۰ تومان</span> &#215; <span>۱</span>
                                    </span>
                            </div>
                        </li>
                    </ul>
                    <div class="mini-cart__total">
                        <span>جمع کل</span>
                        <span class="ammount">۱۴۸,۰۰۰ تومان</span>
                    </div>
                    <div class="mini-cart__buttons">
                        <a href="cart.html" class="btn btn-fullwidth btn-bg-sand mb--20">مشاهده سبد خرید</a>
                        <a href="checkout.html" class="btn btn-fullwidth btn-bg-sand">پرداخت</a>
                    </div>
                </div>
            </div>
        </div>
    </aside>
    <!-- Mini Cart End -->
</div>


<!-- ************************* JS Files ************************* -->

<!-- jQuery JS -->
<script src="{% static 'js/vendor.js' %}"></script>

<!-- Main JS -->
<script src="{% static 'js/main.js' %}"></script>


<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
-->
</body>
</html>
{% if user.is_authenticated %}
                    <p>
                        {% trans 'hello' %}{{ user.username }},
                        <a href="{% url 'account_logout' %}">{% trans 'logout' %}</a>
                        <a href="{% url 'password_change' %}">{% trans 'change password' %}</a>
                    </p>

                {% else %}
                    <p>
                        <a href="{% url 'account_signup' %}">{% trans 'signup' %}</a>
                        <a href="{% url 'account_login' %}">{% trans 'login' %}</a>
                    </p>
                {% endif %}