{% extends '_base.html' %}
{% load i18n %}

{% block page_title %}
    {% trans 'book blog' %}
{% endblock %}

{% block content %}
    {% for book in books %}
        <p class="mt-3"><b>{{ book.book_name }}</b></p>
        <br>
        <p class="small">{{ book.datetime_modified }}</p>
        <p>{% trans 'book author' %}: {{ book.book_author }}</p>
        <p>{{ book.introduction|linebreaksbr|truncatewords:20 }}</p>
        <p class="small">{% trans 'add by ' %}: {{ book.author }}</p>
        <p>_____________________________________________________________________________________________________</p>
    {% endfor %}

{% endblock %}