{% extends '_base.html' %}
{% load i18n %}
{% load persian_translation_tags %}
{% load humanize %}
{% load crispy_forms_filters %}

{% block page_title %}
    KetaBazan/{% trans 'checkout' %}
{% endblock %}

{% block content %}
    <!-- Breadcrumb area Start -->
    <div class="breadcrumb-area bg-color ptb--90" data-bg-color="#f6f6f6">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-between align-items-center flex-sm-row flex-column">
                        <h1 class="page-title">سفارش</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb area End -->

    <!-- Main Content Wrapper Start -->
    <div class="main-content-wrapper">
        <div class="page-content-inner">
            <div class="container">
                <div class="row pt--50 pt-md--40 pt-sm--20"></div>
                <div class="row pb--80 pb-md--60 pb-sm--40">
                    <!-- Checkout Area Start -->
                    <div class="col-lg-6">
                        <div class="checkout-title mt--10">
                            <h2>{% trans 'Order Detail' %}</h2>
                        </div>

                        <div class="checkout-form">
                            <form action="" method="post" class="form form--checkout">
                                {% csrf_token %}
                                <div class="form-row mb--20">
                                    <div class="form__group col-md-6 mb-sm--30">
                                        <label for="billing_fname" class="form__label form__label--2">{% trans 'name' %} <span
                                                class="required">*</span></label>
                                        <input type="text" name="first_name" id="billing_fname"
                                               class="form__input form__input--2">
                                    </div>
                                    <div class="form__group col-md-6">
                                        <label for="billing_lname" class="form__label form__label--2">{% trans 'last name' %}<span
                                                class="required">*</span></label>
                                        <input type="text" name="last_name" id="billing_lname"
                                               class="form__input form__input--2">
                                    </div>
                                </div>
                                <div class="form-row mb--20">
                                    <div class="form__group col-12">
                                        <label for="billing_address" class="form__label form__label--2">{% trans 'address' %}</label>
                                        <input type="text" name="address" id="billing_address"
                                               class="form__input form__input--2">
                                    </div>
                                </div>
                                <div class="form-row mb--20">
                                    <div class="form__group col-12">
                                        <label for="billing_phone" class="form__label form__label--2">{% trans 'phone number' %} <span
                                                class="required">*</span></label>
                                        <input type="text" name="phone_number" id="billing_phone"
                                               class="form__input form__input--2"
                                         placeholder="{% trans '09121111111' %}">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form__group col-12">
                                        <label for="orderNotes" class="form__label form__label--2">{% trans 'Your Note' %}</label>
                                        <textarea class="form__input form__input--2 form__input--textarea"
                                                  id="orderNotes" name="order_notes"
                                                  placeholder="{% trans 'If you have a note, enter it here. Otherwise, leave this field blank' %}"></textarea>
{#                                        اگر یادداشتی دارید در اینجا وارد کنید. در غیر این صورت این مکان را خالی بگذارید#}
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-small btn-bg-red btn-color-white btn-hover-2">
                                    {% trans 'Finish' %}
                                </button>

                            </form>
                        </div>
                    </div>
                    <div class="col-xl-5 offset-xl-1 col-lg-6 mt-md--40">
                        <div class="order-details">
                            <div class="checkout-title mt--10">
                                <h2>{% trans 'Your Order' %}</h2>
                            </div>
                            <div class="table-content table-responsive mb--30">
                                <table class="table order-table order-table-2">
                                    <thead>
                                    <tr>
                                        <th>{% trans 'product' %}</th>
                                        <th class="text-right">{% trans 'final price' %}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in cart %}
                                        <tr>
                                            <th>{{ item.book_obj.book_name }}
                                                <strong><span>&#10005;</span>{{ item.quantity }}</strong>
                                            </th>
                                            <td class="text-center">{{ item.book_obj.price|intcomma:False|translate_number }}
                                                {% trans '$' %}</td>
                                        </tr>
                                    {% endfor %}


                                    </tbody>
                                    <tfoot>
                                    <tr class="cart-subtotal">
                                        <th>{% trans 'total' %}</th>
                                        <td class="text-center">{{ cart.get_total_price|intcomma:False|translate_number }}
                                            {% trans '$' %}</td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="checkout-payment">
                                <h2 class="py-5">روش پرداخت</h2>
                                <form action="#" class="payment-form">
                                    <div class="payment-group mb--10">
                                        <div class="payment-radio">
                                            <input type="radio" value="bank" name="payment-method" id="bank" checked>
                                            <label class="payment-label" for="cheque">درگاه آنلاین زرین پال</label>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Checkout Area End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Main Content Wrapper Start -->
    {% include 'cart/cart_sidebar.html' %}
{% endblock %}

